 
  /* Clip text element */
  .clip-text {
    letter-spacing: 18px;
    font-size: 6em;
    font-weight: bold;
    color: white;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: 0.25em;
    padding: 0.5em 0.75em;
    text-align: center;
    font-family: Bubblicious;
    text-shadow: -4px 5px 9px #ff444496;
  }
  
  .clip-text:before,
  .clip-text:after {
    position: absolute;
    content: "";
  }
  
  /* Background */
  .clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
  }
  
  /* Text Background (black zone) */
  .clip-text:after {
    position: absolute;
    z-index: -1;
    top: 0.125em;
    right: 0.125em;
    bottom: 0.125em;
    left: 0.125em;
    /* background-color: #000; */
  }
  
  /* Change the background position to display letter when the black zone isn't here */
  .clip-text--no-textzone:before {
    background-position: -0.75em 0;
  }
  
  .clip-text--no-textzone:after {
    content: none;
  }
  
  /* Use Background-size cover for photo background and no-repeat background */
  .clip-text--cover,
  .clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  /* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
  .clip-text_one {
  }
  




.neon {
/*   position: relative;
  overflow: hidden;
  filter: brightness(200%); */

  position: absolute;
  overflow: hidden;
  width: 100%;
  /* filter: brightness(130%); */
  height: 100%;
  top: 0;
  mix-blend-mode: darken;
  left: 0;
}

.text {
  background-color: black;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, purple, #c83d3d, lightgreen, cyan, orange);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
  radial-gradient( circle, #ffffff85, transparent 25% ) center / 25% 25%,
   radial-gradient( circle, #ffffff80, #000000a3 25% ) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
      transform: translate(50%, 50%);
  }
}


.icons8-speaker { 
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzIiIGhlaWdodD0iMzIiCnZpZXdCb3g9IjAgMCAzMiAzMiIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48ZyBpZD0ic3VyZmFjZTEiPjxwYXRoIHN0eWxlPSIgIiBkPSJNIDE3IDMuNTkzNzUgTCAxNS4yODEyNSA1LjI4MTI1IEwgOS41NjI1IDExIEwgNSAxMSBMIDUgMjEgTCA5LjU2MjUgMjEgTCAxNS4yODEyNSAyNi43MTg3NSBMIDE3IDI4LjQwNjI1IFogTSAyMy44MTI1IDguMTg3NSBMIDIyLjQwNjI1IDkuNTkzNzUgQyAyNS45MjU3ODEgMTMuMTEzMjgxIDI1LjkyNTc4MSAxOC43NjE3MTkgMjIuNDA2MjUgMjIuMjgxMjUgTCAyMy44MTI1IDIzLjcxODc1IEMgMjguMDkzNzUgMTkuNDM3NSAyOC4wOTM3NSAxMi40Njg3NSAyMy44MTI1IDguMTg3NSBaIE0gMTUgOC40Mzc1IEwgMTUgMjMuNTYyNSBMIDEwLjcxODc1IDE5LjI4MTI1IEwgMTAuNDA2MjUgMTkgTCA3IDE5IEwgNyAxMyBMIDEwLjQwNjI1IDEzIEwgMTAuNzE4NzUgMTIuNzE4NzUgWiBNIDIwLjkwNjI1IDExLjA5Mzc1IEwgMTkuNSAxMi41IEMgMjEuNDEwMTU2IDE0LjQxMDE1NiAyMS40MDIzNDQgMTcuNTc0MjE5IDE5LjQ2ODc1IDE5LjU5Mzc1IEwgMjAuOTM3NSAyMSBDIDIzLjYwMTU2MyAxOC4yMTg3NSAyMy41OTM3NSAxMy43ODEyNSAyMC45MDYyNSAxMS4wOTM3NSBaICI+PC9wYXRoPjwvZz48L3N2Zz4=') 50% 50% no-repeat;
  background-size: 100%; 
  filter: invert(1);
  margin-right: 5px;
}

.mute-wrapper {
  position: absolute;
  color: white;
  bottom: 2em;
  right: 3em;
  line-height: 2em;
  display: flex;
  transition: all .3s ease;
}

.mute-wrapper:hover {
  opacity: .7;
}

.mute-wrapper:active {
  transform: scale(1.03)
}
