 
  /* Clip text element */
  .clip-text {
    letter-spacing: 18px;
    font-size: 6em;
    font-weight: bold;
    color: white;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: 0.25em;
    padding: 0.5em 0.75em;
    text-align: center;
    font-family: Bubblicious;
    text-shadow: -4px 5px 9px #ff444496;
  }
  
  .clip-text:before,
  .clip-text:after {
    position: absolute;
    content: "";
  }
  
  /* Background */
  .clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
  }
  
  /* Text Background (black zone) */
  .clip-text:after {
    position: absolute;
    z-index: -1;
    top: 0.125em;
    right: 0.125em;
    bottom: 0.125em;
    left: 0.125em;
    /* background-color: #000; */
  }
  
  /* Change the background position to display letter when the black zone isn't here */
  .clip-text--no-textzone:before {
    background-position: -0.75em 0;
  }
  
  .clip-text--no-textzone:after {
    content: none;
  }
  
  /* Use Background-size cover for photo background and no-repeat background */
  .clip-text--cover,
  .clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  /* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
  .clip-text_one {
  }
  




.neon {
/*   position: relative;
  overflow: hidden;
  filter: brightness(200%); */

  position: absolute;
  overflow: hidden;
  width: 100%;
  /* filter: brightness(130%); */
  height: 100%;
  top: 0;
  mix-blend-mode: darken;
  left: 0;
}

.text {
  background-color: black;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, purple, #c83d3d, lightgreen, cyan, orange);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
  radial-gradient( circle, #ffffff85, transparent 25% ) center / 25% 25%,
   radial-gradient( circle, #ffffff80, #000000a3 25% ) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
      transform: translate(50%, 50%);
  }
}
